<manifest xmlns:android="http://schemas.android.com/apk/res/android"

    package="sudoku.newgame">
    <uses-permission android:name="android.permission.INTERNET" />
    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".GameActivity"
            android:theme="@style/AppTheme"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".GeneratorActivity"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".LeaderboardActivity"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".DimensionActivity"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".BoardsActivity"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".CongratulationActivity"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".firebaseauth.ChooserActivity"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".firebaseauth.FirebaseUIActivity"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".firebaseauth.GoogleSignInActivity"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".TuturuActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".DemoActivity"
            android:screenOrientation="portrait"/>
    </application>
</manifest>
