<manifest xmlns:android="http://schemas.android.com/apk/res/android"

    package="sudoku.newgame">
    <uses-permission android:name="android.permission.INTERNET" />
    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".board.TestActivity" android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".GameActivity"
            >
        </activity>
        <activity android:name=".GeneratorActivity"
            android:theme="@style/AppTheme"
            android:screenOrientation="portrait"/>
        <activity android:name=".BoardsActivity"
            android:theme="@style/AppTheme"
            android:screenOrientation="portrait"/>
        <activity android:name=".TuturuActivity"
            android:theme="@style/AppTheme"
            android:screenOrientation="portrait"/>
        <activity android:name=".DemoActivity"
            android:theme="@style/AppTheme"
            android:screenOrientation="portrait"/>

    </application>
</manifest>
